.span_font {
     color: #337ab7;
     text-decoration: none;
     background: linear-gradient(to right,#ec695c,#61c454) no-repeat right bottom;
     background-size: 0px 3px;
     transition: background-size 1300ms;
}
.span_font :hover {
     background-position-x: left;
     color: #23527c;
     background-size: 100% 3px;
}
